[submodule "PHYS-551"]
	path = PHYS-551
	url = https://github.com/faruk-avci/PHYS-551.git
[submodule "EE-350"]
	path = EE-350
	url = https://github.com/faruk-avci/EE-350.git
[submodule "ozu-courses"]
	branch = main
